* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: dodgerblue;
}
header {
    background: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
 .logo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}
.hamburger {
    display: none;

}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #000;
    font-size: 20px;
    padding: 10px 25px ;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color:white;
    background: aqua;

}
.nav-bar ul li a.active {
    color:white;
    background: aqua;
}
@media only screen and (max-width:1320px){
    header{
        padding: 0 50 px;
    }
}
@media only screen and (max-width: 1100px){
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: white;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}